<a href="https://colab.research.google.com/github/Thellen/LearningPython/blob/main/Aula_Introdu%C3%A7%C3%A3o_a_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Video aula de Introdução a CIencia de Dados (aula prática) no [Youtube](https://youtube.com/watch?v=F608hzn_ygo)

In [4]:
import pandas as pd # importando a biblioteca panda e colocando apelido
uri = "https://raw.githubusercontent.com/Thellen/introducao-a-data-science/master/aula4.1/movies.csv" # uri é nome da variavel

pd.read_csv(uri) # panda lendo um arquivo csv de filmes e seus generos

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9737   193581  ...              Action|Animation|Comedy|Fantasy
9738   193583  ...                     Animation|Comedy|Fantasy
9739   193585  ...                                        Drama
9740   193587  ...                             Action|Animation
9741   193609  ...                                       Comedy

[9742 rows x 3 columns]

In [7]:
import pandas as pd # importando a biblioteca panda e colocando apelido
uri = "https://raw.githubusercontent.com/Thellen/introducao-a-data-science/master/aula4.1/movies.csv" # uri é nome da variavel

filmes = pd.read_csv(uri) # panda lendo um arquivo csv de filmes e seus generos (dataFrame)
filmes.head() # .head retorna o top 5 do arquivo, porém posso colocar entre os () a quantidade que quiser que apareça

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy
5        6  ...                        Action|Crime|Thriller
6        7  ...                               Comedy|Romance
7        8  ...                           Adventure|Children
8        9  ...                                       Action
9       10  ...                    Action|Adventure|Thriller

[10 rows x 3 columns]

In [10]:
uri = "https://raw.githubusercontent.com/Thellen/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(uri)
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [12]:
notas["rating"].head() # isso é series - uma sequencia de numeros

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: rating, dtype: float64

In [13]:
notas["rating"].unique() # unique retorna valores unicos que contem dentro do arquivo

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [14]:
notas.describe() # describe retorna varias medidas do dataFrama

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09